*{
    margin: 0;padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.top_banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.coloring-text{
    color: orange;
}
.flexible_content{
    display: flex;
    padding-bottom: 100px;
}
.about_me{
    width: 50%;
    padding: 35px 60px;
}
.about_me img{
    width: 100%;
}

p {
    margin-bottom: 20px;
}
.scnd_btn{
    background-image: linear-gradient(orange, tomato );
    border: none;
    padding:15px 40px;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
span.hire_txt {
    padding-right: 10px;
    font-size: 18px;
    color: black;
}
.dream_txt{
    width: 40%;
}
.dreamImage img{
    width: 80%;
    padding-left: 65px;
}
.dreamImage{
    width: 50%;
}
.dream_txt h1{
    font-weight: 600;
    /*text-align:justify;*/
}
.dream_txt h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.dream_txt p{
    font-size: 16px;
    color: #696969;
}
.resume_btn{
    background-image: linear-gradient(#ff916d,#f5593e);
    padding:15px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.about_dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp_wrapper{
    display: flex;
    padding-bottom: 100px;

}
.exp_box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px #5c5b5b;
    padding: 65px 60px;
    border-left: 5px solid;
    border-image: linear-gradient(tomato,orange);
    border-image-slice: 1;
    border-radius: 5px;
}
.exp_box h2{
    font-size: 35px;
    margin-bottom: 15px;
}
h3.coloring-text {
    margin-bottom: 10px;
}
.expo_content h1{
    font-weight: 500;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp_box1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px #5c5b5b;
    padding: 65px 60px;
    border-left: 5px solid;
    border-radius:5px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
.exp_box1 h2{
    font-size: 35px;
    margin-bottom: 15px;
}
footer#copyRight {
    margin-bottom: 15px;
    text-align: center;
    color: #2b2a2a;
}